html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 1.5;
    color: #333;
    background: #fff;
}

.container {
    display: flex;
    justify-content: center;
    height: 100vh; /* 100% of the viewport height aligns the container to the center of the screen */
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.stopwatch__time {
    font-size: 100px;
    font-weight: 200;
    margin: 0;
}

.stopwatch__button {
    padding: .2em 1em;
    bottom: 0;
    color: #b27676;
    border: 1px solid white;
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 1em;
}